.DS_Store
node_modules/
dist/**
.project
unpackage/

wxcomponents/**/*.vue
wxcomponents/**/*.css

# local env files
.env.local
.env.*.local

# Log files
.svn

# Editor directories and files
.idea
.hbuilderx/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
